[tasks.depedencies]
script = [
  "sudo pacman -S jq",
  "cargo install cargo-aur"
]

[tasks.package-arch]
script = [
  # get package name + version from Cargo.toml
  "PKG_NAME=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].name')",
  "PKG_VER=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version')",

  "cargo build --release",
  "cargo aur",

  "cd target/cargo-aur",

  # build without installing
  "makepkg -fs --noconfirm",

  "cd ../..",

  "mkdir -p target/release",
  "cp target/cargo-aur/${PKG_NAME}-bin-${PKG_VER}-*-x86_64.pkg.tar.zst target/release/",
  "cp target/cargo-aur/${PKG_NAME}-${PKG_VER}-x86_64.tar.gz target/release/"
]


